@keyframes floatSlow {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.05);
  }
}
@keyframes floatMedium {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.03);
  }
}
@keyframes floatFast {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-40px) scale(1.08);
  }
}

.animate-float-slow {
  animation: floatSlow 7s ease-in-out infinite;
}
.animate-float-medium {
  animation: floatMedium 5s ease-in-out infinite;
}
.animate-float-fast {
  animation: floatFast 3.5s ease-in-out infinite;
}
