@import "tailwindcss";

@import "./animations.css";

@import "./floating-circles.css";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1d4ed8;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #e2e8f0;
}
